@import "assets/CSS/base.css";

/*start header & footer*/
ul {
  padding-block: 0.75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.primary-button {
  background-color: var(--primaryColor);
  color: var(--bgColor);
  padding: 0.625em 1.25em;
  border-radius: 1.5em;
  font-family: var(--mainFont);
}
